In [2]:
from z3 import *

In [6]:
#basic zebra 1
# h1,h2,h3= Ints('h1 h2 h3')
red,blue,x=Ints('red blue x')
spanish,norwegian,italian=Ints('spanish norwegian italian')

s=Solver()
s.add(spanish>0,norwegian>0,italian>0,spanish<4,norwegian<4,italian<4)
s.add(red>0,blue>0,x>0,red<4,blue<4,x<4)
s.add(Distinct(red,blue,x))
s.add(Distinct(spanish,norwegian,italian))
s.add(spanish==red+1)
s.add(norwegian==blue)
s.add(italian==2)

print(s.check())
print(s.model())

sat
[red = 2,
 blue = 1,
 x = 3,
 italian = 2,
 norwegian = 1,
 spanish = 3]

In [4]:
#boss names: adam,julian,nathan,michael,thomas
a,j,n,m,t = Ints('a j n m t')
#tie colors
tieBlack,tieBlue,tieGreen,tieRed,tieYell=Ints('tieBlack tieBlue tieGreen tieRed tieYell')
#department
dpHr,dpIt,dpMarket,dpRD,dpSales=Ints('dpHr dpIt dpMarket dpRD dpSales')
#salaries (each number means thousand)
s2,s3,s4,s5,s6=Ints('s2 s3 s4 s5 s6')
#vacations
vAug,vDec,vJan,vJun,vMar=Ints('vAug vDec vJan vJun vMar')
#ages
ag34,ag40,ag46,ag51,ag55=Ints('ag34 ag40 ag46 ag51 ag55')

s=Solver()

def makeDistinctandRange(v1,v2,v3,v4,v5):
    s.add(Distinct(v1,v2,v3,v4,v5))
    s.add(v1>0,v2>0,v3>0,v4>0,v5>0, v1<6,v2<6,v3<6,v4<6,v5<6)

makeDistinctandRange(a,j,n,m,t)
makeDistinctandRange(tieBlack,tieBlue,tieGreen,tieRed,tieYell)
makeDistinctandRange(s2,s3,s4,s5,s6)
makeDistinctandRange(vAug,vDec,vJan,vJun,vMar)
makeDistinctandRange(ag34,ag40,ag46,ag51,ag55)
makeDistinctandRange(dpHr,dpIt,dpMarket,dpRD,dpSales)

s.add(j==5)
s.add(tieRed==vJun)
s.add(tieBlack>s3,tieBlack<a)
s.add(ag51==s2)
s.add(m==1)
s.add(Or(vMar==1,vMar==5))
s.add(Or(a==s4+1,a==s4-1))
s.add(vAug==4)
s.add(tieBlack==s4)
s.add(Or(s5==1,s5==5))
s.add(ag46<dpHr)
s.add(dpHr>ag40,dpHr<t)
s.add(n==vDec)
s.add(dpSales==ag46+1)
s.add(tieRed<tieYell)
s.add(dpRD==1)
s.add(ag55==tieBlue)
s.add(Or(tieYell==1,tieYell==5))
s.add(ag34==5)
s.add(dpMarket==ag51)



print(s.check())
print(s.model())

sat
[t = 4,
 s6 = 3,
 vMar = 5,
 tieYell = 5,
 dpIt = 5,
 tieGreen = 4,
 s2 = 4,
 a = 3,
 vJan = 3,
 s3 = 1,
 vDec = 2,
 vJun = 1,
 tieBlue = 3,
 s5 = 5,
 ag40 = 2,
 s4 = 2,
 ag46 = 1,
 dpHr = 3,
 dpMarket = 4,
 ag34 = 5,
 ag55 = 3,
 dpRD = 1,
 dpSales = 2,
 n = 2,
 tieBlack = 2,
 vAug = 4,
 m = 1,
 ag51 = 4,
 tieRed = 1,
 j = 5]

In [5]:
#4x4 skyscraper matrix
a11,a12,a13,a14 = Ints('a11 a12 a13 a14')
a21,a22,a23,a24 = Ints('a21 a22 a23 a24')
a31,a32,a33,a34 = Ints('a31 a32 a33 a34')
a41,a42,a43,a44 = Ints('a41 a42 a43 a44')

#f(1) means first variable is the biggest
def see1(v1,v2,v3,v4):
    s.add(v1==4)

#f(2) means first variable is smaller than the second and the second the biggest OR
#     first>second and first<third and third>forth OR
#     first>second, first>third, first<forth
def see2(v1,v2,v3,v4):    
    s.add(Or( And(v1<v2,v2>v3,v2>v4),And(v1>v2,v1<v3,v3>v4),And(v1>v2,v1>v3,v1<v4 ) ))

#f(3) means first variable is smaller than second, second smaller then third and third the biggest OR
#     first<second, second>third, second<forth
#    first<third, second<first, third<forth
def see3(v1,v2,v3,v4):
    s.add(Or(And(v1<v2,v2<v3,v3>v4), And(v1<v2,v2>v3,v2<v4), And(v1<v3,v2<v1,v3<v4) ))

#f(4) means the variables in line/col are in ascending order
def see4(v1,v2,v3,v4):
    s.add(v1<v2,v2<v3,v3<v4)

def makeDistinctandRange(v1,v2,v3,v4):
    s.add(Distinct(v1,v2,v3,v4))
    s.add(v1>0,v2>0,v3>0,v4>0, v1<5,v2<5,v3<5,v4<5)

s=Solver()
makeDistinctandRange(a11,a12,a13,a14)
makeDistinctandRange(a21,a22,a23,a24)
makeDistinctandRange(a31,a32,a33,a34)
makeDistinctandRange(a41,a42,a43,a44)

makeDistinctandRange(a11,a21,a31,a41)
makeDistinctandRange(a12,a22,a32,a42)
makeDistinctandRange(a13,a23,a33,a43)
makeDistinctandRange(a14,a24,a34,a44)

see4(a11,a12,a13,a14)
see1(a43,a33,a23,a13)
see2(a44,a34,a24,a14)
see2(a24,a23,a22,a21)


print(s.check())
print(s.model())

sat
[a13 = 3,
 a44 = 3,
 a14 = 4,
 a24 = 2,
 a34 = 1,
 a31 = 4,
 a12 = 2,
 a32 = 3,
 a21 = 3,
 a22 = 4,
 a33 = 2,
 a11 = 1,
 a41 = 2,
 a42 = 1,
 a23 = 1,
 a43 = 4]